/* import font*/
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

/* css reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*variables*/
:root {
  /* colors */
  --color-primary: #1f271b;
  --color-secondary: #563440;
  --color-background: #e7ebed;
  --color-accent: #99621e;
  --color-accent-hover: #7a3b69;
  /* typography */
  --font-size-base: 1.5rem;
  --font-size-small: 1rem;
  --font-size-title: 3.5rem;
  /* layout */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-base);
  font-family: "Funnel Display", sans-serif;
  background-color: var(--color-background);
  text-transform: lowercase;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.main-nav {
  display: flex;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: var(--color-primary);
  padding: var(--spacing-medium) var(--spacing-small);
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
}

.main-nav__item {
  display: flex;
  margin: 0 var(--spacing-small);
}

.main-nav__item {
  padding-left: var(--spacing-large);
}

.main-nav__link {
  color: var(--color-accent);
  text-decoration: none;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--color-accent-hover);
}

.header__title {
  font-size: var(--font-size-title);
}

.section {
  padding: 0, 0, var(--spacing-large), var(--spacing-large);
  margin: 1rem;
  display: flow-root;
  align-self: center;
  height: 100vh;
}

.section__heading {
  text-indent: var(--spacing-medium);
}

.section__image-container--left {
  float: left;
  margin-right: var(--spacing-medium);
  padding-left: 0.5rem;
}

.section__image--medium {
  height: 20vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  font-size: var(--font-size-small);
  position: sticky;
  bottom: 0;
  background-color: var(--color-primary);
}

.footer-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.footer-nav__list--left {
  gap: var(--spacing-small);
}

.footer-nav__list--right {
  justify-content: flex-end;
}

.footer-nav__item {
  margin: 0 var(--spacing-small);
  font-size: var(--font-size-base);
}

.footer-nav__link {
  color: var(--color-accent);
  text-decoration: none;
}

.footer-nav__link--icon {
  display: inline-block;
  width: 1.5em;
  height: auto;
  padding: 0;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  color: var(--color-accent-hover);
}

.section__content {
  color: var(--color-secondary);
}
